.search {
  height: 42px;
  width: calc(100vw - 96px);
  padding: 0 5px 0 16px;
  background-color: var(--transparent);
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  &__input {
    width: calc(100% - 82px);
    color: var(--white);
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}