.badge {
  &__routegroup {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    &-loading {
      width: 24px;
      height: 24px;
      border-radius: 8px;
      background-color: var(--transparent);
    }
  }
  &__line {
    width: 42px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 2px solid var(--white);
    &-loading {
      width: 46px;
      height: 20px;
      border-radius: 6px;
      background-color: var(--transparent);
    }
  }
  &__station {
    padding: 2px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 2px;
    background-color: var(--white);
    border-radius: 10px;
    &-loading {
      width: 46px;
      height: 20px;
      border-radius: 10px;
      background-color: var(--transparent);
    }
    &-empty {
      width: fit-content;
      height: fit-content;
      border: 2px var(--white) dotted;
      border-radius: 10px;
    }
  }
}