<div class="badge">
  @switch (kind) {
    @case ('routeGroup') {
      @if (status != 'loading') {
        <div
          class="badge__routegroup"
          [ngStyle]="{
            'opacity': getOpacity(),
            'background-color': getColor()
          }"
        >
          <p class="semibold medium">{{label}}</p>
        </div>
      }
      @else if (status === 'loading') {
        <div class="badge__routegroup-loading loading"></div>
      }
    }
    @case ('line') {
      @if (status != 'loading') {
        <div class="badge__line">
          <p class="bold medium">{{label}}</p>
        </div>
      }
      @else if (status === 'loading') {
        <div class="badge__line-loading loading"></div>
      }
    }
    @case ('station') {
      @if (status === 'empty') {
        <div class="badge__station-empty">
          <component-atomic 
            [kind]="'stationCode'"
            [type]="'single'"
            [status]="status"
            [label]="'???'"
          />
        </div>
      }
      @else if (status === 'loading') {
        <div class="badge__station-loading loading"></div>
      }
      @else {
        <div class="badge__station">
          @if (bulkData) {
            @for (data of bulkData; track $index; let isFirst = $first, isLast = $last) {
              <component-atomic 
                [kind]="'stationCode'"
                [type]="getType(isFirst, isLast)"
                [status]="data.status"
                [color]="data.color"
                [label]="data.label"
              />
            }
          }
          @else {
            <component-atomic 
              [kind]="'stationCode'"
              [type]="'single'"
              [status]="status"
              [color]="color"
              [label]="label"
            />
          }
        </div>
      }
    }
  }
</div>