.badge {
  &__route-group {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dummy);
    border-radius: 8px;
  }
  &__line {
    height: 16px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px var(--white) solid;
    border-radius: 6px;
  }
  &__station {
    height: 16px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px var(--white) solid;
    border-radius: 10px;
  }
}

p {
  margin: 0;
}