<div class="list">
  @if (listHeader) {
    <div 
      class="list__header"
      [ngStyle]="{
        'background-color': getColor()
      }"
    >
      <component-badge
        [kind]="'line'"
        [status]="status"
        [label]="headerCode"
      />
      @if (status === 'loading') {
        <div class="list__header-loading loading"></div>
      }
      @else {
        <p class="large bold">{{headerName}}</p>
      }
    </div>
  }
  <div 
    class="list__content"
    [ngStyle]="{
      'border-radius': (listHeader) ? '0 0 24px 24px' : '24px'
    }"
  >
    @if (status === 'loading') {
      @switch (kind) {
        @case ('routeGroup') {
          <component-list-item
            [kind]="'routeGroup'"
            [status]="'loading'"
          />
        }
        @case ('station') {
          <component-list-item
            [kind]="'station'"
            [status]="'loading'"
          />
        }
        @case ('figure') {
          <component-figure
            [status]="'loading'"
          />
        }
      }
    }
    @if (status !== 'loading') {
      @for (item of listData; track $index; let isFirst = $first; let isLast = $last) {
        @switch (kind) {
          @case ('routeGroup') {
            @if (!isSearch) {
              <component-list-item
                [kind]="'routeGroup'"
                [status]="'active'"
                [color]="color"
                [itemListData]="item"
              />
            }
            @else {
              <component-list-item
                [kind]="'routeGroup'"
                [status]="'active'"
                [color]="item.line.color"
                [itemListData]="item.routeGroup"
              />
            }
          }
          @case ('station') {
            @if (!isSearch) {
              <component-list-item
                [kind]="'station'"
                [status]="'active'"
                [type]="getType(isFirst, isLast)"
                [color]="color"
                [itemListData]="item"
              />
            }
            @else {
              <component-list-item
                [kind]="'station'"
                [status]="'active'"
                [type]="getType(isFirst, isLast)"
                [color]="color"
                [itemListData]="item"
                [isSearch]="isSearch"
              />
            }
          }
          @case ('figure') {
            <component-figure
              [color]="color"
              [status]="'active'"
              [routeGroupData]="item"
            />
          }
        }
      }
    }
  </div>
</div>