@switch(stackType) {
  @case('main') {
    <div class="stack">
      @for(line of this.getStackData(); track line.line_code) {
        <app-container
          containerType="route-group" 
          [containerHasTitle]="true"
          [containerData]="line"
          [isLoading]="isLoading"
        />
      }
    </div>
  }
  @case('station') {
    <div class="stack">
      @for(track of stackData; track track.current_station_code) {
        <app-container
          containerType="track" 
          [containerHasTitle]="true"
          [containerData]="track"
        />
      }
    </div>
  }
}