<div class="list-item">
  @switch (kind) {
    @case ('routeGroup') {
      <div class="list-item__route-group" (click)="emitItem('routeGroup')">
        <component-badge
          [kind]="'routeGroup'"
          [status]="status"
          [color]="(status === 'loading') ? null : color"
          [label]="(status === 'loading') ? null : itemListData.code"
        />
        <div class="list-item__route-group__text">
          @if (status === 'loading') {
            <div class="list-item__route-group__text__name-loading loading"></div>
            <div class="list-item__route-group__text__route-loading loading"></div>
          }
          @else {
            <p class="list-item__route-group__text__name bold small">{{itemListData.name}}</p>
            <span 
              class="list-item__route-group__text__route"
              [style]="{
                color: (status === 'inactive') ? 'var(--semiwhite)' : 'var(--white)'
              }"
            >
              <p class="bold large">{{getRouteName()}}</p>
              <p class="medium small">{{getViaName()}}</p>
            </span>
          }
        </div>
      </div>
    }
    @case ('station') {
      <div class="list-item__station" (click)="emitItem('routeGroup')">
        <div class="list-item__station__leading">
          @if (!isSearch) {
            <component-atomic 
              [kind]="'stationLine'"
              [type]="(status === 'loading') ? null : type"
              [status]="(status === 'loading') ? 'loading' : ((itemListData.isActive) ? 'active' : 'inactive')"
              [color]="(status === 'loading') ? null : color"
              [colorLeading]="(status === 'loading') ? null : itemListData.prevLineColor"
              [colorTrailing]="(status === 'loading') ? null : itemListData.nextLineColor"
            />
            <component-badge
              [kind]="'station'"
              [status]="(status === 'loading') ? 'loading' : ((itemListData.isActive) ? 'active' : 'inactive')"
              [color]="(status === 'loading') ? null : getColor()"
              [label]="(status === 'loading') ? null : (itemListData.code || itemListData.lineStationCode)"
            />
          }
          @else {
            <component-badge
              [kind]="kind"
              [status]="status"
              [bulkData]="badgeData"
            />
          }
          @if (status === 'loading') {
            <div class="list-item__station__leading__name-loading loading"></div>
          }
          @else {
            <p 
              class="list-item__station__leading__name bold large"
              [style]="{
                color: (itemListData.isActive) ? 'var(--white)' : 'var(--semiwhite)'
              }"
            >
              {{itemListData.name}}
            </p>
          }
        </div>
        @if (!isSearch) {
          <div class="list-item__station__trailing">
            @if (status === 'loading') {
              <component-badge
                [kind]="'routeGroup'"
                [status]="'loading'"
              />
            }
            @else {
              @if (itemListData.interchange) {
                @for (interchange of itemListData.interchange; track $index) {
                  <component-badge
                    [kind]="'routeGroup'"
                    [status]="(interchange.isActive) ? 'active' : 'inactive'"
                    [color]="interchange.color"
                    [label]="interchange.code"
                  />
                }
              }
              @if (itemListData.cumulativeDuration) {
                <p class="regular medium">{{itemListData.cumulativeDuration}} min</p>
              }
            }
          </div>
        } @else if (isSearch && itemListData.isActive) {
          <component-button
            [size]="'small'"
            [status]="'active'"
            [icon]="'direct'"
            (click)="emitItem('direction')"
          />
        }
      </div>
    }
    @case ('transfer') {
      <div class="list-item__transfer">
        <div class="list-item__transfer__leading">
          <component-atomic 
            [kind]="'transferLine'"
            [type]="(status === 'loading') ? null : type"
            [status]="(status === 'loading') ? 'loading' : ((itemListData.isActive) ? 'active' : 'inactive')"
            [color]="(status === 'loading') ? null : color"
            [colorLeading]="(status === 'loading') ? null : itemListData.prevLineColor"
            [colorTrailing]="(status === 'loading') ? null : itemListData.nextLineColor"
          />
          <component-badge
            [kind]="'routeGroup'"
            [status]="'active'"
            [color]="itemListData.transferFromColor"
            [label]="itemListData.transferFromCode"
          />
          <img class="list-item__transfer__leading__arrow" src="../../../../assets/icons/arrow.right.svg" alt="">
          <component-badge
            [kind]="'routeGroup'"
            [status]="'active'"
            [color]="itemListData.transferToColor"
            [label]="itemListData.transferToCode"
          />
          @if (status === 'loading') {
            <div class="list-item__transfer__leading__name-loading loading"></div>
          }
          @else {
            <p 
              class="list-item__transfer__leading__name bold large"
              [style]="{color: 'var(--white)'}"
            >
              Transfer to {{itemListData.transferToName}}
            </p>
          }
        </div>
      </div>
    }
    @case ('directionStation') {
      <div class="list-item__direction-station" (click)="emitItem('direction')">
        <component-badge
          [kind]="'station'"
          [status]="status"
          [bulkData]="badgeData"
        />
        @if (status === 'loading') {
          <div class="list-item__station__leading__name-loading loading"></div>
        }
        @else {
          <p 
            class="list-item__station__leading__name bold large"
            [style]="{
              color: (itemListData.isActive) ? 'var(--white)' : 'var(--semiwhite)'
            }"
          >
            {{itemListData.name}}
          </p>
        }
      </div>
    }
  }
</div>