.selection {
  padding: 4px;
  background-color: var(--transparent);
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  &__item {
    width: 100%;
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &__label, &__route, &__alt {
      margin: 0;
      text-align: center;
    }
    &__label, &__alt {
      color: var(--semiwhite);
    }
  }
}

.selected {
  background-color: var(--transparent);
  border-radius: 20px;
}

.marquee {
  width: 100%;
  overflow: hidden;
  background: #111;
  color: #fff;
  padding: 10px 0;
}

.marquee-track {
  display: flex;
  width: max-content;
  gap: 24px;
  animation: marquee 25s linear infinite;
  will-change: transform;
}
.marquee-track span {
  white-space: nowrap;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  15% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}