<div class="selection">
  @if (status === 'loading') {
    <component-selection-item
      class="selection__item"
      [status]="'loading'"
    />
    <component-selection-item
      class="selection__item"  
      [status]="'loading'"
    />
  }
  @else {
    <div 
      class="selection__indicator"
      [style.width]="'calc((100% - 8px - ' + ((selectionData.length - 1) * 4) + 'px) / ' + selectionData.length + ')'"
      [style.transform]="'translateX(calc(' + selectedIndex + ' * (100% + 4px)))'"
    ></div>
    @for (item of selectionData; track index; let index = $index) {
      <component-selection-item
        class="selection__item"
        [status]="status"
        [label]="item.currentTerminus.endName"
        [subtext]="getSubtext(item)"
        [isSelected]="isSelected(item.id)"
        [id]="item.id"
        (click)="setSelectedId(index, item.id)"
      />
    }
  }
</div>