<div class="selection">
  @if (status === 'loading') {
    <component-selection-item
      class="selection__item"
      [status]="'loading'"
    />
    <component-selection-item
      class="selection__item"  
      [status]="'loading'"
    />
  }
  @else {
    @for (item of selectionData; track index; let index = $index) {
      <component-selection-item
        class="selection__item"
        [status]="status"
        [label]="item.currentTerminus.endName"
        [subtext]="getSubtext(item)"
        [isSelected]="isSelected(item.id)"
        [id]="item.id"
        (selectionItemClick)="handleItemClick($event)"
      />
    }
  }
</div>