.selection {
  padding: 4px;
  background-color: var(--transparent);
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  &__item {
    width: 100%;
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    &__label, &__route {
      margin: 0;
      text-align: center;
    }
    &__label {
      color: var(--semiwhite);
    }
  }
}

.selected {
  background-color: var(--transparent);
  border-radius: 20px;
}