<div class="title">
  @switch(titleType) {
    @case('route-group') {
      <app-badge 
        badgeType="route-group"
        [badgeLabel]="badgeLabel" 
        [badgeIsActive]="badgeIsActive" 
        [badgeColor]="badgeColor"
      />
      <p class="title__text xlarge bold">{{title}}</p>
    }
    @case('station') {
      <app-badge 
        badgeType="stations" 
        [badgeData]="stationInterchange"
      />
      <p class="title__text xlarge bold">{{title}}</p>
    }
    @case('search') {
      <p class="title__text xlarge bold">{{title}}</p>
    }
  }
</div>
