<div class="container">
  @if(containerHasTitle) {
    <div class="container__title" [style.backgroundColor]="getColor()">
      <app-badge
        badgeType="line"
        [badgeLabel]="containerData.line_code"
      />
      <p class="container__title__text large bold">{{containerData.line_name}}</p>
    </div>
  }
  <section class="container__content">
    @switch(containerType) {
      @case('route-group') {
        <app-list 
          listType="route-group"
          [listData]="containerData.route_groups" 
          [lineColor]="containerData.line_color"
        />
      }
      @case('track') {
        <app-list 
          listType="track" 
          [listData]="containerData.track" 
          [lineColor]="containerData.line_color"
          [lineName]="containerData.line_name"
        />
      }
    }
  </section>
</div>
