<div class="selection-item">
  @if (status === 'loading') {
    <component-badge
      [kind]="'terminus'"
      [status]="status"
    />
    <div class="selection-item-loading loading"></div>
  }
  @else {
    <div class="selection-item__label">
      <img class="selection-item__label__arrow" src="../../../../assets/icons/arrow.right.svg" alt="">
      <component-badge
        [kind]="'terminus'"
        [status]="status"
        [label]="currentTerminusData.abbr"
      />
      @if (viaData) {
        <p class="selection-item__label__text medium small">via</p>
        <component-badge
          [kind]="'terminus'"
          [status]="status"
          [label]="viaData.abbr"
        />
      }
      @if (completeTerminusData.name !== currentTerminusData.name) {
        <component-badge
          [kind]="'terminus'"
          [status]="status"
          [label]="completeTerminusData.abbr"
        />
      }
    </div>
    <div class="selection-item__subtext">
      <p class="selection-item__subtext__text medium small">for {{currentTerminusData.name}}</p>
      @if (viaData) {
        <p class="selection-item__subtext__text medium small">via {{viaData.name}}</p>
      }
      @if (completeTerminusData.name !== currentTerminusData.name) {
        <p class="selection-item__subtext__text medium small">/ {{completeTerminusData.name}}</p>
      }
    </div>
  }
</div>
