<main class="main">
  <nav class="main__navigation">
    <app-button [isDisabled]="isOnMainStage()" (onClickButton)="handleBackNavigation()" icon="chevron-back"/>
    <app-search (onSearchStation)="handleSearchStation($event)" (onClearSearch)="handleClearSearch()"/>
  </nav>
  <section class="main__section">
    @switch(currentStage) {
      @case('main') {
        <app-main/>
      }
      @case('route') {
        <app-route
          [lineColor]="lineColor"
          [routeData]="routeStageData"
        />
      }
      @case('station') {
        <app-station
          [stationData]="stationStageData"
        />
      }
      @case('search') {
        <search-stage
          [searchData]="searchStageData"
        />
      }
    }
  </section>
</main>