<main class="main">
  <component-search-bar 
    [stage]="currentStage"
  />
  <section class="main__content">
    @switch (currentStage) {
      @case ('line') {
        <stage-line/>
      }
      @case ('routeGroup') {
        <stage-route
          [routeGroupId]="currentId"
        />
      }
      @case ('station') {
        <stage-station
          [stationId]="currentId"
        />
      }
      @case ('search') {
        <stage-search
          [searchQuery]="currentId"  
        />
      }
    }
  </section>
</main>