.main {
  &-desktop {
    height: 100dvh;
    width: 100dvw;
    position: relative;
  }
  &__side-panel {
    &-desktop {
      position: absolute;
      left: 12px;
      top: 12px;
      z-index: 10;
    }
  }
  &__map {
    height: 100dvh;
    width: 100dvw;
    position: absolute;
    overflow: scroll;
    z-index: 1;
  }
  &__zoom {
    position: absolute;
    right: 12px;
    bottom: 12px;
    z-index: 10;
  }
}