.main {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  &__navigation {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  &__section {
    height: calc(100vh - 78px);
    overflow: scroll;
    border-radius: 24px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}