<div class="item">
  @switch(itemType) {
    @case('route-group') {
      <div class="item__route-group" (click)="handleItemClick('route-group', null)">
        <app-badge
          badgeType="route-group"
          [badgeLabel]="itemData.route_group_code"
          [badgeIsActive]="itemData.route_is_active"
          [badgeColor]="lineColor"/>
        <div class="item__route-group__text">
          <p class="item__route-group__text__line-name small bold">{{itemData.route_group_name}}</p>
          <span class="item__route-group__text__route">
            <p class="item__route-group__text__route__terminus large bold">{{getRouteTerminus()}}</p>
            <p class="item__route-group__text__route__via medium semibold">{{getRouteVia()}}</p>
          </span>
        </div>
      </div>
    }
    @case('route-station') {
      <div class="item__route-station" (click)="handleItemClick('route-station', null)">
        <div class="item__route-station__leading">
          <div class="item__route-station__leading__figure">
            <div class="item__route-station__leading__figure__point" [style.backgroundColor]="getColor()"></div>
            @if(!isFirst) {
              <div class="item__route-station__leading__figure__leading" [style.backgroundColor]="getColor()"></div>
            }
            @if(!isLast) {
              <div class="item__route-station__leading__figure__trailing" [style.backgroundColor]="getColor()"></div>
            }
          </div>
          <app-badge 
            badgeType="station" 
            [badgeLabel]="getBadgeText()" 
            [badgeColor]="lineColor"/>
          <p class="large bold">{{itemData.station_name}}</p>
        </div>
        <div class="item__route-station__trailing">
          @for(interchange of filterizedInterchange; track interchange.line_station_code) {
            <app-badge
              badgeType="route-group" 
              [badgeLabel]="interchange.route_group_code" 
              [badgeColor]="interchange.line_color"
            />
          }
        </div>
      </div>
    }
    @case('track') {
      <div class="item__track">
        <div class="item__track__header">
          <div class="item__track__header__direction-leading">
            <p class="item__track__header__direction__label xsmall bold">BOUND FOR</p>
            <span class="item__track__header__direction__info">
              <img class="item__track__header__direction__info__arrow" src="../../../assets/icons/arrow.left.svg" alt="">
              <p class="item__track__header__direction__info__terminus-leading medium regular">{{getTerminus('prev')}}</p>
            </span>
          </div>
          <app-badge 
            badgeType="route-group" 
            [badgeLabel]="itemData.route_group" 
            [badgeColor]="lineColor"
          />
          <div class="item__track__header__direction-trailing">
            <p class="item__track__header__direction__label xsmall bold">BOUND FOR</p>
            <span class="item__track__header__direction__info">
              <p class="item__track__header__direction__info__terminus-trailing medium regular">{{getTerminus('next')}}</p>
              <img class="item__track__header__direction__info__arrow" src="../../../assets/icons/arrow.right.svg" alt="">
            </span>
          </div>
        </div>
        <div class="item__track__figure">
          <div class="item__track__figure__stations">
            @for(station of stationDataList; track station.station_code) {
              <div class="item__track__figure__stations__station" (click)="handleItemClick('track', station)">
                @if(station.station_code) {
                  <app-badge 
                    badgeType="station" 
                    [badgeLabel]="station.station_code" 
                    [badgeColor]="lineColor"
                  />
                }
                <p class="item__track__figure__stations__station__name medium bold">{{station.station_name}}</p>
              </div>
            }
          </div>
          <div class="item__track__figure__lines">
            @for(line of lineDataList; track line) {
              @switch(line) {
                @case('solid') {
                  <div class="item__track__figure__lines__line-solid" [style.backgroundColor]="getColor()"></div>
                }
                @case('dashed-leading') {
                  <div class="item__track__figure__lines__line-dashed-leading" [style.backgroundColor]="getColor()"></div>
                }
                @case('dashed-trailing') {
                  <div class="item__track__figure__lines__line-dashed-trailing" [style.backgroundColor]="getColor()"></div>
                }
                @default {
                  <div class="item__track__figure__lines__line-null" [style.backgroundColor]="getColor()"></div>
                }
              }
            }
          </div>
        </div>
        @if(branchStationDataList.length > 0) {
          <div class="item__track__header-branch">
            <div class="item__track__header__direction-trailing">
              <p class="item__track__header__direction__label xsmall bold">BOUND FOR</p>
              <span class="item__track__header__direction__info">
                <p class="item__track__header__direction__info__terminus-trailing medium regular">{{getTerminus('branch')}}</p>
                <img class="item__track__header__direction__info__arrow" src="../../../assets/icons/arrow.right.svg" alt="">
              </span>
            </div>
          </div>
          <div class="item__track__figure">
            <div class="item__track__figure__stations">
              @for(station of branchStationDataList; track station.station_code) {
                <div class="item__track__figure__stations__station" (click)="handleItemClick('track', station)">
                  @if(station.station_code) {
                    <app-badge 
                      badgeType="station" 
                      [badgeLabel]="station.station_code" 
                      [badgeColor]="lineColor"
                    />
                  }
                  <p class="item__track__figure__stations__station__name medium bold">{{station.station_name}}</p>
                </div>
              }
            </div>
            <div class="item__track__figure__lines-branch">
              @for(line of branchLineDataList; track line) {
                @switch(line) {
                  @case('curve') {
                    <div class="item__track__figure__lines__line-curve">
                      <svg width="84" height="103" viewBox="0 0 84 103" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 4H17.8098C31.1387 4 41.9143 14.861 41.8091 28.1894L41.441 74.8106C41.3358 88.139 52.1114 99 65.4403 99H84" stroke="#01ACBD" stroke-width="8"/>
                      </svg>
                    </div>
                  }
                  @case('dashed-trailing') {
                    <div class="item__track__figure__lines__line-dashed-trailing-branch" [style.backgroundColor]="getColor()"></div>
                  }
                }
              }
            </div>
          </div>
        }
      </div>
    }
  }
</div>