.item {
  display: flex;
  align-items: center;
  &__route-group {
    height: 48px;
    width: calc(100% - 16px);
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    cursor: pointer;
    &:hover {
      background-color: var(--transparent);
    }
    &__text {
      display: flex;
      flex-direction: column;
      &__line-name {
        margin: 0;
        color: var(--semiwhite);
      }
      &__route {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 4px;
        &__terminus, &__via {
          margin: 0;
        }
      }
    }
  }
  &__route-station {
    height: 48px;
    width: calc(100% - 16px);
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    cursor: pointer;
    &:hover {
      background-color: var(--transparent);
    }
    &__leading {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      &__figure {
        width: 18px;
        height: 48px;
        position: relative;
        &__point {
          width: 14px;
          height: 14px;
          border: 2px var(--white) solid;
          border-radius: 10px;
          position: absolute;
          top: 15px;
          bottom: 15px;
          z-index: 2;
        }
        &__leading, &__trailing {
          width: 8px;
          height: 24px;
          position: absolute;
          left: 5px;
          right: 5px;
          z-index: 1;
        }
        &__leading {
          top: 0px;
        }
        &__trailing {
          bottom: 0px;
        }
      }
    }
    &__trailing {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }
  }
  &__track {
    padding: 8px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    &__header {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &__direction {
        &-leading {
          width: 128px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
        &-trailing {
          width: 128px;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
        &__label {
          margin: 0;
          color: var(--semiwhite);
        }
        &__info {
          display: flex;
          flex-direction: row;
          gap: 4px;
          &__arrow {
            width: 10px;
          }
          &__terminus {
            &-leading {
              margin: 0;
            }
            &-trailing {
              margin: 0;
              text-align: end;
            }
          }
        }
      }
      &-branch {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
    &__figure {
      position: relative;
      &__stations {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &__station {
          padding: 4px 8px;
          height: fit-content;
          z-index: 2;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 4px;
          border-radius: 12px;
          cursor: pointer;
          &:hover {
            background-color: var(--transparent);
          }
          &__name {
            width: 96px;
            text-align: center;
            margin: 0;
          }
        }
      }
      &__lines {
        height: fit-content;
        width: 100%;
        position: absolute;
        top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        &__line {
          &-solid, &-dashed-leading, &-dashed-trailing, &-dashed-trailing-branch, &-null {
            z-index: 1;
            width: calc(100% / 6);
            height: 8px;
          }
          &-dashed {
            &-leading {
              mask-image:
                linear-gradient(to right, transparent 0%, black 100%),
                repeating-linear-gradient(
                  to right,
                  black 0 4px,
                  transparent 4px 8px
                );
              mask-composite: intersect;
              -webkit-mask-image:
                linear-gradient(to right, transparent 0%, black 100%),
                repeating-linear-gradient(
                  to right,
                  black 0 4px,
                  transparent 4px 8px
                );
              -webkit-mask-composite: source-in;
            }
            &-trailing {
              mask-image:
                linear-gradient(to left, transparent 0%, black 100%),
                repeating-linear-gradient(
                  to left,
                  black 0 4px,
                  transparent 4px 8px
                );
              mask-composite: intersect;
              -webkit-mask-image:
                linear-gradient(to left, transparent 0%, black 100%),
                repeating-linear-gradient(
                  to left,
                  black 0 4px,
                  transparent 4px 8px
                );
              -webkit-mask-composite: source-in;
              &-branch {
                margin: 0 0 5px 0;
                mask-image:
                  linear-gradient(to left, transparent 0%, black 100%),
                  repeating-linear-gradient(
                    to left,
                    black 0 4px,
                    transparent 4px 8px
                  );
                mask-composite: intersect;
                -webkit-mask-image:
                  linear-gradient(to left, transparent 0%, black 100%),
                  repeating-linear-gradient(
                    to left,
                    black 0 4px,
                    transparent 4px 8px
                  );
                -webkit-mask-composite: source-in;
              }
            }
          }
          &-null {
            visibility: hidden;
          }
          &-curve {
            top: -40px;
          }
        }
        &-branch {
          height: fit-content;
          width: 100%;
          position: absolute;
          top: -86px;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: flex-end;
        }
      }
    }
  }
}