<div class="route">
  <app-title
    titleType="route-group"
    [badgeColor]="lineColor"
    [title]="routeData.route_group_name"
    [badgeLabel]="routeData.route_group_code"
    [badgeIsActive]="routeData.route_is_active"
  />
  <app-selection 
    [selectionData]="terminusData"
    [isLoading]="isLoading"
    (onClickItem)="handleSelectedRouteId($event)"
  />
  @if(isLoading) {
    <app-loading/>
  }
  @else {
    <app-list
      listType="route-station"
      [lineColor]="lineColor"
      [listData]="routeStationData"
      [routeGroupCode]="routeData.route_group_code"
    />
  }
</div>