<section class="route">
  <component-title
    [kind]="'routeGroup'"
    [status]="headerStatus"
    [title]="(routeGroupData) ? routeGroupData.name : null"
    [badgeLabel]="(routeGroupData) ? routeGroupData.code : null"
    [badgeColor]="(routeGroupData) ? routeGroupData.color : null"
  />

  <component-selection
    [status]="headerStatus"
    [selectionData]="(routeGroupData) ? routeGroupData.route : null"
    (routeIdUpdate)="handleIdUpdate($event)"
  />

  <component-list
    class="route__list"
    [kind]="'station'"
    [status]="dataStatus"
    [listHeader]="false"
    [color]="(routeGroupData) ? routeGroupData.color : null"
    [listData]="(routeData) ? routeData.station : null"
  />
</section>