<div 
  class="button"
  [ngStyle]="{
    'width': getSize('width'),
    'height': getSize('height'),
    'padding': getPadding(),
    'opacity': getOpacity(),
    'background-color': getColor(),
    'cursor': getCursor()
  }"
  (mouseenter)="switchIsHovered()"
  (mouseleave)="switchIsHovered()"
>
  @if (status != 'loading') {
    @if (icon || leftIcon) {
      <component-icon [icon]="icon || leftIcon" size="large" [isHover]="isHovered"/>
    }
    @if (label) {
      <p class="bold semilarge">{{label}}</p>
    }
    @if (rightIcon) {
      <component-icon [icon]="rightIcon" size="large" [isHover]="isHovered"/>
    }
  }
  @else if (status === 'loading') {
    <div class="button__loading loading"></div>
  }
</div>