<div 
  class="button"
  [ngStyle]="{
    'width': getSize(),
    'height': getSize(),
    'opacity': getOpacity(),
    'background-color': getColor(),
    'cursor': getCursor()
  }"
  (mouseenter)="switchIsHovered()"
  (mouseleave)="switchIsHovered()"
>
  @if (status != 'loading') {
    @switch (icon) {
      @case ('back') {
        <img class="button__icon" src="../../../assets/icons/chevron.backward.svg" alt="">
      }
      @case ('search') {
        <img class="button__icon" src="../../../assets/icons/magnifyingglass.svg" alt="">
      }
      @case ('xmark') {
        <img class="button__icon" src="../../../assets/icons/xmark.svg" alt="">
      }
      @case ('reverse') {
        <img class="button__icon" src="../../../assets/icons/arrow.left.arrow.right.svg" alt="">
      }
      @case ('direct') {
        @if (isHovered) {
          <img class="button__icon" src="../../../assets/icons/arrowshape.turn.up.forward.fill.svg" alt="">
        }
        @else if (!isHovered) {
          <img class="button__icon" src="../../../assets/icons/arrowshape.turn.up.forward.svg" alt="">
        }
      }
    }
  }
  @else if (status === 'loading') {
    <div class="button__loading loading"></div>
  }
</div>