<div class="input-text">
  @switch (type) {
    @case ('standard') {
      <input 
        #inputField
        class="input-text__field semibold large" 
        type="text"
        [(ngModel)]="inputValue"
        [placeholder]="placeholder"
        (keydown.enter)="emitValue()"
        (focus)="onFocusInput(inputField)"
      >
      <img class="input-text__icon" src="../../../assets/icons/magnifyingglass.svg" alt="">
    }
    @case ('readonly') {
      <input 
        class="input-text__field semibold large" 
        type="text"
        [(ngModel)]="inputValue"
        [placeholder]="placeholder"
        disabled
      >
      <img class="input-text__icon" src="../../../assets/icons/magnifyingglass.svg" alt="">
    }
  }
</div>