.search {
  &__empty {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &__heading, &__subtext {
        margin: 0;
      }
    }
  }
}