<app-title
  titleType="search"
  [title]="getTitle(searchData.searchQuery)"
/>
@if(isSearchResultEmpty) {
  <div class="search__empty">
    <app-badge badgeType="empty-station"/>
    <div class="search__empty__text">
      <p class="search__empty__text__heading xlarge bold">No results found</p>
      <p class="search__empty__text__subtext medium regular">Please check your spelling and try again</p>
    </div>
  </div>
}
@else {
  <app-list 
    listType="station"
    [listData]="searchData.searchResult" 
  />
}