<section class="direction">
  <component-direction-bar
    [directionData]="directionData"
    (updateSearchQuery)="handleSearchQueryUpdate($event)"
    (updateActiveField)="setActiveField($event)"
    (reverseDirection)="reverseDirection()"
  />
  @if (searchResultData && searchResultData?.stationResult.length > 0) {
    <component-list
      [kind]="'directionStation'"
      [status]="fetchStationListStatus"
      [listHeader]="false"
      [listData]="searchResultData.stationResult"
      [isSearch]="true"
    />
  }
  @else if (searchResultData && searchResultData?.stationResult.length === 0) {
    <component-state
      [error]="'noResult'"
    />
  }
  @else if (findDirectionStatus === 'invalid') {
    <component-state
      [error]="'invalid'"
    />
  }
  @else if (directionResultData && findDirectionStatus !== 'error') {
    <component-list
      [kind]="'directionResult'"
      [status]="findDirectionStatus"
      [listHeader]="true"
      [headerName]="getHeaderName()"
      [listData]="directionResultData.path"
      [isSearch]="false"
    />
  }
  @else if(findDirectionStatus === 'error') {
    <component-state
      [error]="'noDirection'"
    />
  }
  @else {
    <component-state
      [error]="'noStation'"
    />
  }
</section>
