<div class="search-bar">
  <component-button
    [status]="(stage === 'line') ? 'inactive' : 'active'"
    [color]="'transparent'"
    [icon]="'back'"
    (click)="emitItem('back')"
  />
  @if(stage !== 'direction') {
    <component-input-text
      class="search-bar__input"
      [placeholder]="'Search for station or line'"
      (updateValue)="handleUpdate($event)"
    />
  } @else {
    <component-title
      [kind]="'standard'"
      [status]="'active'"
      [title]="'Direction'"
    />
  }
</div>
