<section class="station">
  <component-title
    [kind]="'station'"
    [status]="status"
    [title]="(stationData) ? stationData.name : null"
    [badgeData]="(stationData) ? badgeData : null"
  />

  @if (stationData) {
    @for (line of stationData.line; track $index) {
      <component-list
        [kind]="'figure'"
        [status]="status"
        [listHeader]="true"
        [headerCode]="line.code"
        [headerName]="line.name"
        [color]="line.color"
        [listData]="line.routeGroup"
      />
    }
  }
  @else {
    <component-list
      [kind]="'figure'"
      [status]="'loading'"
      [listHeader]="true"
    />
  }
</section>