body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
  background-color: var(--background);

  --green: #00964D;
  --red: #E22726;
  --purple: #8F4199;
  --yellow: #F99D25;
  --blue: #005DA8;
  --brown: #9D5B25;
  --cyan: #01ACBD;
  --lime: #94C83D;
  --grey: #718573;

  --primary: #0071E3;
  --white: #FFFFFF;
  --semiwhite: #A1A1A1;
  --dummy: #1B6358;
  --transparent: rgba(128, 128, 128, 0.3);
  --background: #363636;
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.xsmall {
  font-size: 8px;
}

.small {
  font-size: 10px;
}

.medium {
  font-size: 12px;
}

.large {
  font-size: 16px;
}

.xlarge {
  font-size: 24px;
}

.skeleton {
  display: inline-block;
  height: fit-content;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--transparent);
  border-radius: 16px;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.2) 20%,
      rgba(#fff, 0.5) 40%,
      rgba(#fff, 0)
    );
    animation: shimmer 2s infinite;
    content: '';
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}